doctype html
html
  head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-130483038-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-130483038-1');


    link(rel='stylesheet', href='/css/index.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    <link rel="apple-touch-icon" sizes="57x57" href="/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <link rel="manifest" href="/image/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/image/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title 5th Annual Ratchmas

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    script.
      function myFunction() {
        var x = document.getElementById("dropdown");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }

      $(window).scroll(function(e){ 
        var $el = $('.fixedElement'); 
        var isPositionFixed = ($el.css('position') == 'fixed');
        if ($(this).scrollTop() > 150 && !isPositionFixed){ 
          $el.css({'position': 'fixed', 'top': '0px'}); 
        }
        if ($(this).scrollTop() < 150 && isPositionFixed){
          $el.css({'position': 'static', 'top': '0px'}); 
        } 
      });

      $(function() {
        if(window.location.hash.substr(1) === 'details'){
          $("[name='detail']").addClass('active');
          $("[name='home']").removeClass('active');
        }
        $("[name=detail]").on("click", function() {
          $("[name='detail']").addClass('active');
          $("[name='home']").removeClass('active');
        });
      });
  body
    .header
      a(href='/')
        h1.page-title
      nav.fixedElement
        ul.mobileNav
          li(onclick='myFunction()')
            a(href="javascript:void(0);") Menu
            ul#dropdown.dropdown
              li(onclick='myFunction()'): a(href='/' onclick='myFunction()' class=(path === 'index' ? "active" : "") name='home') Home
              li(onclick='myFunction()'): a(href='/#details' onclick='myFunction()' name="detail") Details
              li(onclick='myFunction()'): a(href='/menu' onclick='myFunction()' class=(path === 'menu' ? "active" : "")) Drinks
              li(onclick='myFunction()'): a(href='/rsvp' onclick='myFunction()' class=(path === 'rsvp' ? "active" : "")) RSVP
    nav
      ul.nav
        li: a(href='/' name='home' class=(path === 'index' ? "active" : "")) Home
        li: a(href='/#details' name="detail") Details
        li: a(href='/menu' class=(path === 'menu' ? "active" : "")) Drinks
        li: a(href='/rsvp' class=(path === 'rsvp' ? "active" : "")) RSVP

    
    .main-content
      block content

    .footer
      p.centerText.Small RATCHMAS 2018  &copy;

