doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    <link rel="apple-touch-icon" sizes="57x57" href="/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
    <link rel="manifest" href="/image/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/image/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    title 5th Annual Ratchmas
  body
    .header
      h1.page-title

    ul.nav
      li: a(href='/') Home
      li: a(href='#details') Details
      //- li: a(href='#about') Food & Drink
      li: a(href='/rsvp') RSVP
    
    .main-content
      block content

    #details.footer
      h1.centerText DETAILS
      </br>
      h3.centerText DATE  
      p.centerText Saturday, December 15, 2019   
      </br>
      h3.centerText TIME     
      p.centerText 7:30 PM   
      </br>
      h3.centerText LOCATION        
      p.centerText 3721 N. Clifton Ave.
      p.centerText Unit 2 
      p.centerText Chicago, IL 60613
      </br>
      div.centerText
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2967.355628430673!2d-87.65939668468542!3d41.949695868909934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3b344a07827%3A0x8e2dfb7439534eb4!2s3721+N+Clifton+Ave+%232%2C+Chicago%2C+IL+60613!5e0!3m2!1sen!2sus!4v1543359578859" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>