extend default

block content
	p#title.centerText.
		WOAH! A paper invitation and Ratchmas has a website?!?! 
	p.
		We are celebrating a milestone of #[strong FIVE] years of Ratchmas and decided to upgrade your Ratchmas experience with an official website and logo. Facebook clearly steals everyone's data and we cannot have Russia finding out about Ratchmas. 
		Shout-out to @meg_bell for the awesome logo! 
	p.
		If you haven't already guessed, Lindsay Lohan (Mykonos edition) is the patron saint for the most ratchet holiday party of 2018. 
	p.
		<div class="tenor-gif-embed center" data-postid="12491884" data-share-method="host" data-width="30%" data-aspect-ratio="1.0"><a href="https://tenor.com/view/dancing-drunk-girl-lindsay-lohan-party-gif-12491884">Dancing Drunk GIF</a> from <a href="https://tenor.com/search/dancing-gifs">Dancing GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
	p.
		Please channel your inner Lohan and join us where the beer flows like wine and the Chambongs are endless.

