extend default

block content
	p#title.centerText.
		WOAH! A paper invitation and Ratchmas has a website?!?! 
	p.
		We are celebrating a milestone of #[strong FIVE] years of Ratchmas and decided to upgrade your Ratchmas experience with an official website and logo. Facebook clearly steals everyone's data and we cannot have Russia finding out about Ratchmas. 
		Shout-out to @meg_bell for the awesome logo! 
	p.
		If you haven't already guessed, Lindsay Lohan (Mykonos edition) is the patron saint for the most ratchet holiday party of 2018. 
	p.
		<div class="tenor-gif-embed center mobileGIF" data-postid="12491884" data-share-method="host" data-aspect-ratio="1.0"><a href="https://tenor.com/view/dancing-drunk-girl-lindsay-lohan-party-gif-12491884">Dancing Drunk GIF</a> from <a href="https://tenor.com/search/dancing-gifs">Dancing GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
	p.
		Please channel your inner Lohan and join us where the beer flows like wine and the Chambongs are endless.

	#details.footer
		h1.centerText DETAILS
		</br>
		h3.centerText DATE  
		p.centerText Saturday, December 15, 2019   
		h3.centerText TIME     
		p.centerText 7:30 PM   
		h3.centerText LOCATION        
		p.centerText 3721 N. Clifton Ave.</br>Unit 2</br> Chicago, IL 60613
		</br>
		div.centerText.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2967.355628430673!2d-87.65939668468542!3d41.949695868909934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3b344a07827%3A0x8e2dfb7439534eb4!2s3721+N+Clifton+Ave+%232%2C+Chicago%2C+IL+60613!5e0!3m2!1sen!2sus!4v1543359578859" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>

