extend default

block content
	h1.centerText Chambongs
	h1.centerText Chambongs
	h1.centerText Chambongs
	img.menuImg.center#menuImg(src="image/chambong.png" alt="Chambong")
	h1.centerText & more Chambongs
	div.centerText
		<br/><br/>
		<iframe width="300" height="225" src="https://www.youtube.com/embed/9aJtOEhBWv8?autoplay=0&amp;start=8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

