extend default

block content
  p#title.centerText.
    <iframe class="form" src="https://docs.google.com/forms/d/e/1FAIpQLSclsqCuGudPy09VrMls1bG_rTi0nq7mjNl7pJ8lbOKzeedW5g/viewform?embedded=true" width="850" height="850" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

